# ユーザー認証を管理するAmazon CognitoのユーザープールIDを指定する
VITE_COGNITO_USER_POOL_ID=ap-northeast-1_xxxxxxxxx

# アプリケーションがCognitoと通信するためのアプリクライアントIDを指定する
VITE_COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxx

# アプリケーションのソースコードを管理するGitHubリポジトリのURLを指定する
VITE_GITHUB_URL=https://github.com/your-username/stella-chat-app

# インフラストラクチャを管理するAWSマネジメントコンソールへのアクセスURLを指定する
VITE_MANAGEMENT_CONSOLE_URL=https://ap-northeast-1.console.aws.amazon.com/console/home

# メッセージ機能のバックエンド処理を実行するLambda Function URLを指定する
VITE_MESSAGES_API_URL=https://xxxxxxxx.lambda-url.ap-northeast-1.on.aws/

# プロジェクト管理のバックエンド処理を実行するLambda Function URLを指定する
VITE_PROJECTS_API_URL=https://yyyyyyyy.lambda-url.ap-northeast-1.on.aws/

# 設定機能のバックエンド処理を実行するLambda Function URLを指定する
VITE_SETTINGS_API_URL=https://zzzzzzzz.lambda-url.ap-northeast-1.on.aws/