# APIへのクロスオリジンアクセスを許可するフロントエンドのURLを指定する
ALLOWED_ORIGINS=http://localhost:5173

# メッセージデータを保存および取得するためのDynamoDBテーブル名を指定する
DYNAMODB_MESSAGES_TABLE_NAME=stella_chat_messages_dev

# AIモデルが生成する回答の最大トークン数を指定する
MAX_TOKENS=1000

# Amazon Bedrockで利用するAIのモデルIDを指定する
MODEL_ID=anthropic.claude-3-sonnet-20240229-v1:0

# アプリケーションの設定データを保存および取得するためのDynamoDBテーブル名を指定する
SETTINGS_TABLE_NAME=stella_chat_settings_dev