# APIへのクロスオリジンアクセスを許可するフロントエンドのURLを指定する
ALLOWED_ORIGINS=http://localhost:5173

# メッセージデータを保存および取得するためのDynamoDBテーブル名を指定する
MESSAGES_TABLE_NAME=stella_chat_messages_dev

# プロジェクトデータを保存および管理するためのDynamoDBテーブル名を指定する
PROJECTS_TABLE_NAME=stella_chat_projects_dev